<!DOCTYPE html>



<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>


<body>
    
{% extends 'base.html' %}`aaz

{% block content %}

<h2> Profile Page </h2>

<div class="new-post-btn">
    <a href="{% url 'new_post' %}"> Add Post </a>
</div>

<div>
    {% if user.is_authenticated %}
        <div class="user"></div>
        <p> Hi {{ user.username }} </p>
    
     <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
     </form>
    {% else %}
    <p> You are not Logged In </p>
    <button><a href="{% url 'login' %}">
        Login 
    </a></button>
    {% endif %}

    {% if object_list %}
    {% for post in object_list %}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}">{{post.title }}</a></h2>
            <p> {{ post.body }}</p>
        </div>
    {% endfor %}



{% if else %}
<div>
    <p> You have no posts </p>
</div>
{% endif %}
{% endblock content %}

</body>
</html>